/* Barra Superior (Header) */
.main-header {
    background: var(--white);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
}

.nav-links a {
    text-decoration: none;
    color: var(--text-gray);
    margin: 0 1.5rem;
    font-weight: 600;
    transition: var(--transition);
}

.nav-links a.active, .nav-links a:hover {
    color: var(--primary);
}
